.DS_Store
*.orig
*.swp
*.swo
pkg
.rvmrc
vendor/cache
.bundle

# ignore Gemfile.lock because we support multiple versions of Rails and don't want to ship locked version requirements
Gemfile.lock
.yardoc

test/fixtures.yml

test/before_exp.log

test/before_pp.log

test/after_exp.log

test/after_pp.log
