language: ruby
sudo: false
cache: bundler

rvm:
- 2.1
- 2.2.7
- 2.3.4
- 2.4.1

gemfile:
- Gemfile.rails32
- Gemfile.rails40
- Gemfile.rails41
- Gemfile.rails42
- Gemfile.rails50
- Gemfile.rails51

before_install:
  - mkdir -p $HOME/bin
  - curl -fsSL https://testspace-client.s3.amazonaws.com/testspace-linux.tgz | tar -zxvf- -C $HOME/bin
  - testspace config url $TS_ORG.testspace.com

matrix:
  exclude:
    - rvm: 2.1
      gemfile: Gemfile.rails50
    - rvm: 2.1
      gemfile: Gemfile.rails51
    - rvm: 2.4.1
      gemfile: Gemfile.rails32
    - rvm: 2.4.1
      gemfile: Gemfile.rails40
    - rvm: 2.4.1
      gemfile: Gemfile.rails41

script:
  - bundle exec rake test

after_script:
  - export RAILS_VER=$(echo $BUNDLE_GEMFILE | sed -r 's/.*Gemfile.(\S+)/\1/g')
  - export FOLDER=ruby_${TRAVIS_RUBY_VERSION}.$RAILS_VER
  - testspace [${FOLDER}]$PWD/test/reports/TEST*.xml{test}

notifications:
  email:
    on_success: never
    on_failure: always
