rvm:
  - 2.1.0
  - 2.0.0
  - 1.9.3
  - 1.9.2

gemfile:
  - Gemfile_rails40
  - Gemfile
  - Gemfile_rails31
  - Gemfile_rails30
  - Gemfile_rails23

script: "bundle exec rake test:units"

notifications:
  email:
    - payments-dev@shopify.com
    - nathaniel@talbott.ws

matrix:
  exclude:
    - rvm: 1.9.2
      gemfile: Gemfile_rails40
    - rvm: 2.1.0
      gemfile: Gemfile_rails23
