development:
  # merchant_id: <%= ENV['MIDTRANS_MERCHANT_ID'] %>

  client_key: <%= ENV['MIDTRANS_CLIENT_KEY'] %>
  server_key: <%= ENV['MIDTRANS_SERVER_KEY'] %>

  # For production use
  # api_host: https://api.veritrans.co.id

  # For sandbox use
  # api_host: https://api.sandbox.veritrans.co.id
